.Sign {
   min-width: 230px;
   margin: 10px;
   padding: 10px;
   border: solid 1px black;
   display: flex;
   justify-content: center;
   align-content: center;
}

.ButtonSign {
   border: none;
   background: none;
}
