.Navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.Title {
    font-size: 20px;
}

.mainLink {
    margin-right: 15px;
}
